
@{
    ViewBag.Title = "ClassShow";
}

<a class="navlink" href="/Class/ClassList">Back To Classes</a>
<div id="containershow">
    <h2>@Model.ClassName</h2>
    <p><strong>Class code:</strong>  @Model.ClassCode</p>
    <p><strong>Start Date:</strong> @Model.StartDate</p>
    <p><strong>Finish Date:</strong> @Model.FinishDate</p>
    <p><strong>Teacher Id:</strong> @Model.TeacherId</p>

</div>

